<!DOCTYPE html>

<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>

</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Workplace</th>
        <th>Salary</th>
        <th>Age</th>
    </tr>
    <th:block th:each="user1 : ${users}">
        <tr>
            <td th:text="${user1.getName()}"></td>
            <td th:text="${user1.getWorkPlace()}"></td>
            <td th:text="${user1.getSalary()}"></td>
            <td th:text="${user1.getAge()}"></td>
            <td>
            <a th:href="@{/admin/editUserPage/__${user1.getId()}__}">edit</a>
            <a th:href="@{/admin/removeUser/__${user1.getId()}__}">delete</a>
            </td>
        </tr>
    </th:block>
</table>
<form action="/admin/addUser" method="post" th:object="${user}">
    <table>
        <input  name="name" type="text"> Name
        <br>
        <input  name="workPlace" type="text"> Workplace
        <br>
        <input  name="salary" type="number"> Salary
        <br>
        <input  name="age" type="number"> Age
        <br>
        <input  name="password" type="text"> Password
        <br>
        <div>
            <input type="checkbox" id="admin" name="roles[]" value="ROLE_ADMIN" class="Role"
                   checked>
            <label for="admin">Admin</label>
        </div>

        <div>
            <input type="checkbox" id="user8" name="roles[]" value="ROLE_USER" class="Role">
            <label for="user8">User</label>
        </div>

        <br>
        <input type="submit" value="Add user">
    </table>
</form>
<div th:insert="~{logout :: Logout}"></div>
</body>
</html>